body {
  cursor: default;
}
  
.hidden {
  display: none;
}

.color-model,
.color-picker,
.options-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.color-model {
  padding-top: 10px;
}
  
.selected-color-div {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  margin: 10px;
}
  
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.selected-color-div {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
  
.inputs {
  width: 60px;
  height: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
  border: none;
  border-right: 1px solid #ccc;
  color: #333;
  outline: none;
}
  
.last {
  border: none;
}
  
#color-model-selector {
  width: auto;
  height: auto;
  text-align: center;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
  
#color-model-selector option {
  border-right: 1px solid #ccc;
}

#color-model-selector:hover {
  background-color: transparent;
}
  
#color-model-selector {
  width: auto;
  height: auto;
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #333;
}